.graph {
  padding: 12px;
}

@media screen and (min-width: 480px) {
  /*　スマホ横以上　*/
  p {
    color: #ededed;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　タブレット以上　*/
}
@media screen and (min-width: 1024px) {
  /*　PC~　*/
  .graph {
    padding: 12px;
  }
}
