.checkedList {
  display: flex;
  align-items: baseline;
  margin: 1em 0;
}
p {
  margin: 0;
}
.checked {
  margin: 0 1em;
}
.unchecked {
  margin: 1em;
}
button {
  margin: 0 0 1em 1em;
}
.toggle {
  display: none;
}
.PrefectureList {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  justify-self: auto;
}
.prefectureCheckbox {
  border-radius: 24px;
  border: solid 2px;
  text-align: center;
  padding: 5px 8px 5px 8px;
  margin: 0.3rem;
}
.text {
  display: contents;
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 1em;
}

@media screen and (min-width: 480px) {
  /*　スマホ横以上　*/
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*　タブレット以上　*/
  .toggle {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 1024px) {
  /*　PC~　*/

  .prefectureCheckbox {
    border-radius: 24px;
    border: solid 2px;
    text-align: center;
    padding: 5px 8px 5px 8px;
    margin: 0.5rem;
  }
}
